@model EditUserViewModel

@{
    ViewData["Title"] = "Edit User";
    Layout = "_ManagerLayout";
}

@if(Model != null ){
    <h2>Edit User: @Model.UserName</h2>
}
<form asp-action="EditUser" asp-controller="User" method="post">
    <input type="hidden" asp-for="UserName" />

    <div class="mb-3">
        <label class="form-label">Is Manager</label>
        <input type="checkbox" asp-for="IsManager" class="form-check-input" />
    </div>

    <div class="mb-3">
        <label class="form-label">Is Accountant</label>
        <input type="checkbox" asp-for="IsAccountant" class="form-check-input" />
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>

    <button type="submit" class="btn btn-danger" asp-action="DeleteUser" asp-route-username="@Model.UserName"
            onclick="return confirm('Are you sure you want to delete this user?');">
        Delete User
    </button>

    <a asp-action="GetUsers"  asp-controller="User" class="btn btn-secondary">Cancel</a>
</form>
